.flexbox-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  .flexbox-container h1{
    text-align: center;
    font-size: 4rem;
    color: purple;
    padding: 20px;
    margin: 15px;
    z-index: 1;
  }
  .flexbos-item-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    margin: 1rem;

  }
  .color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
  }
